body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: 1fr 2fr 1fr;
    text-align: center;
    list-style-position: inside;
    background-color: rgb(211, 248, 208);
}


.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-shadow: 0em 1em 2em black;
    padding: 3em;
    padding-top: 2em;
    margin-top: 2em;
    background-color: rgb(217, 233, 216);
}

h1 {
    text-align: center;
}

form {
    justify-content: space-around;
    text-align: center;
}